.*
node_modules/*
todo
*sublime*
npm-debug.log
README.html
generated
# including /lib folder so we can link directly from package.json
# lib/
/scratch

test/unit/perf-buffer.coffee

src-coffee/
test-coffee/
